
/* Find groups - waterfall */

#waterfall-groups{

}

#waterfall-groups .item{
    width: 31%;
    margin: 0 10px 15px 5px;
    background: #fff;
    padding: 0;
    box-shadow: 0px 1px 3px 0px #a1a1a1;
    border-radius: 2px;
    overflow: hidden;
}

#waterfall-groups .item .item-heading{
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px #ccc solid;
}

#waterfall-groups .item .group-picture img{
    width: 217px;
    height: 217px;
}

#waterfall-groups .item .item-body{
    padding: 10px;
}

#waterfall-groups .item .actions{
    box-shadow: 0px 1px 3px 0px #d5d5d5;
    background-color: #fbfbfb;
    height: 40px;
}
#waterfall-groups .item .actions .action{
    float: left;
    padding: 10px;
    height: 40px;
    min-width: 50px;
    text-align: center;
    border-right: 1px #eee solid;
}

#waterfall-groups .item .actions .action-like{
    cursor: pointer;
    text-decoration: none;
}
#waterfall-groups .item .actions .action-like a:hover{
    text-decoration: none;
}

.find-groups #load-more-groups{
    text-align: center;
}

.search-groups-form .col-lg-4{
    float:right;
    padding-right: 12px;
    width: 228px;
}

.load-more-groups-pending {
    height:30px;
    width:100%;
    text-align: center;
}
.horizon-center {
    padding:15px;
    font-size:16px;
    width:150px;
    margin-left:auto;
    margin-right:auto;
}
.loading-24-24 {
    width:24px;
    height:24px;
}