/*
 * Style twaks
 * --------------------------------------------------
 */
body {
    padding-top: 70px;
    font-family: 'Arial','Verdana',sans-serif;
    font-size: 13px;
    line-height: 1.6;
    background: #eee;
}
footer {
    padding-left: 15px;
    padding-right: 15px;
}

#main-navigation{
    background: none;
}

#main-wrapper{

}

.container{
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

#sidebar {
    overflow: hidden;
}



.badge-administrator {
    background-color: #428bca;
}

.badge-vip {
    background-color: #FFC200;
}

table,th,tr,td{
    border: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}

.red{
    color:red;
}

/* User picture on navigation bar */
#account-dropdown .img-thumbnails{
    height:32px;top:10px;right:30px;margin-bottom:20px;position:absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#account-dropdown .username{
    margin-right: 50px;
}

/*
 * CKEditor
 * --------------------------------------------------
 */
blockquote
{
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

.cke_contents_ltr blockquote
{
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
}

/* Posts */
.post-meta{
    color: gray;
}

.post-content{
    padding: 10px 5px;
}

/* Comment */
.comment-item{
    padding: 10px 0 10px 0;
}

/* Home page */
#latest-topics-list .topic-item .topic-picture{
    width: 11.666666666666664%;
}
#latest-topics-list .topic-item .topic-content{
    width: 88.33333333333334%;
}
.topic-item .topic-meta{
    color: gray;
}
#active-topics-list .topic-item .topic-picture{
    width: 10.666666666666664%;
}
#active-topics-list .topic-item .topic-content{
    width: 89.33333333333334%;
}

/* Friends */
#list-all-friends {
    float: left;
    margin-left:10px;
}

/* Message */
.message-meta{
    color: gray;
    margin-bottom: 5px;
}


/* users */
.user-list .user-item{
    padding: 5px;
    text-align: center;
}
.user-profile-tiny h2{
    margin-top:0;
}

/* Groups */
.group-content{

}
.group-content .group-meta{
    color: gray;
}
.group-content .group-intro{
    margin: 10px 0;
}
.recommend-content{
    padding-top: 10px;
}
.recommend-groups{

}

.recommend-groups .recommend-group-item{
    text-align: center;
}
.recommend-groups .recommend-group-item img{
    width: 140px;
    height: 140px;
}


/* Ads */
.ads-container{
    position: relative;
    min-height:80px;
}
.ads-container p{
    margin:0;
}

.ads-container .ads-prev{
    height: 50px;
    width: 27px;
    background: url(../images/prev-btn.png) no-repeat 0 50%;
    display: block;
    position: absolute;
    top: 40%;
    text-indent: -9999em;
    font-size: 0;
    cursor: pointer;
    opacity: 0;
    outline: none;
    filter: alpha(opacity=0);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;

}

.ads-container .ads-next{
    height: 50px;
    width: 27px;
    background: url(../images/next-btn.png) no-repeat 0 50%;
    display: block;
    position: absolute;
    top: 40%;
    right: 0;
    text-indent: -9999em;
    font-size: 0;
    cursor: pointer;
    outline: none;
    opacity: 0;
    filter: alpha(opacity=0);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;
}

.ads-container:hover .ads-prev,.ads-container:hover .ads-next{
    opacity: 0.6;
    filter: alpha(opacity=0.6);
}
.ads-container:hover .ads-prev:hover,.ads-container:hover .ads-next:hover{
    opacity: 1.0;
    filter: alpha(opacity=1.0);
}