/*
 * Style twaks
 * --------------------------------------------------
 */
body {
    padding-top: 70px;
    font-family: 'Arial','Verdana',sans-serif;
    font-size: 13px;
    line-height: 1.6;
}
footer {
    padding-left: 15px;
    padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
  .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
  .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

table,th,tr,td{
    border: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}

.red{
    color:red;
}

/* User picture on navigation bar */
#account-dropdown .img-thumbnails{
    height:32px;top:10px;right:30px;margin-bottom:20px;position:absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#account-dropdown .username{
    margin-right: 50px;
}

/*
 * CKEditor
 * --------------------------------------------------
 */
blockquote
{
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

.cke_contents_ltr blockquote
{
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
}

/* Comment */
.comment-item{
    padding: 10px 0 10px 0;
}