
.posts-list .topic-item{
    margin-left: 0;
    margin-right: 0;
}

.posts-list .topic-item  .topic-title{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 3px;
}

.posts-list .topic-item .topic-content{
    background: #fff;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    padding: 0;
    width: 86.33333333333334%;
    box-shadow: 0px 1px 3px 0px #d5d5d5;
    /*overflow: hidden;*/
}

.posts-list .topic-item .topic-content span.arrow{
    background: url(../images/arrow.png) -10px 0 no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -20px;
    top: 10px;
    display: block;
}

.posts-list .topic-item .topic-content .inner{
    padding: 10px 15px;
    overflow: hidden;
}

.posts-list .topic-item .topic-content .inner img{
   max-width: 560px;
}

.posts-list .topic-item .topic-picture{
    width: 13.666666666666664%;
    padding-left: 10px;
}
.posts-list .topic-item .topic-picture img{
    border-radius: 5px;
}

.posts-list .topic-item .topic-meta,.post-meta{
    color: gray;
}

.posts-list .topic-item .footer{
    float:right;
    background: #FAFAFA;
    width: 100%;
    padding: 10px 15px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.posts-list .topic-item .footer .actions{
    float: right;
}
.posts-list .topic-item .footer .actions>a{
    cursor: pointer;
    text-decoration: none;
}
