
.posts-list .topic-item{
}

.posts-list .topic-item  .topic-title{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 3px;
}

.posts-list .topic-item .topic-content{
    background: #fff;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    padding: 0;
    width: 86.33333333333334%;
    box-shadow: 0px 1px 3px 0px #a1a1a1;
    border-radius: 2px;
    overflow: hidden;
}

.posts-list .topic-item .topic-content .inner{
    padding: 10px 15px;
}

.posts-list .topic-item .topic-content .inner img{
   max-width: 538px;
}

.posts-list .topic-item .topic-picture{
    width: 13.666666666666664%;
}
.posts-list .topic-item .topic-picture img{
    border-radius: 5px;
}

.posts-list .topic-item .topic-meta{
    color: gray;
}

.posts-list .topic-item .footer{
    float:right;
    background: #FAFAFA;
    width: 100%;
    padding: 10px 15px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.posts-list .topic-item .footer .actions{
    float: right;
}
.posts-list .topic-item .footer .actions>a{
    cursor: pointer;
    text-decoration: none;
}
/* 这里想做三角形，不知道怎么实现了，参考人人代码
.posts-list .i {
    position:relative;
    width:24px;
    height:24px;
    top:15px;
    left:-4px;
    background:url(http://s.xnimg.cn/apps/profile2/res/timeline/bg_dot_left3.png) no-repeat;
    _background:url(http://s.xnimg.cn/apps/profile2/res/timeline/bg_dot_left_ie6.png) no-repeat;
}*/