a {
    color:#000;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
}

a:hover {
    color:#f65e5e;
    text-decoration: none;
}

a:active {
    color:#000;
    text-decoration: none;
}

a:link {
    color:#000;
    text-decoration: none;
}

