body {
    color:#555;
}

a {
    color:#000;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
}
.actions a{
    color:#555;
}

a:hover {
    color:#ff6b6b;
    text-decoration: none;
}

a:active {
    color:#000;
    text-decoration: none;
}

.topic-meta a {
    color:#ff6b6b;
}


.topic-meta a:hover{
    color:#f65e5e;
}

.waterfall .item-heading a {
    font-size: 18px;

}

.panel {
    margin-bottom:13px;
}