body {
    color:#555;
}

a {
    color:#000;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
}
.actions a{
    color:#999;
}

a:hover {
    color:#ff6b6b;
    text-decoration: none;
}

a:active {
    color:#000;
    text-decoration: none;
}

#logo{
    padding: 5px;
}
#logo img{
    height: 40px;
}

#main-navigation{

}
#main-navigation .navbar{
    background-color: #2c3036;
    border-bottom: 5px solid #ddd;
    padding: 5px 0;
}

#main-navigation .navbar-nav{
    padding: 10px 0;
}

#main-navigation .navbar-nav > li > a {
    padding: 5px 15px;
    font-size: 14px;
    border-right: 1px #666 dashed;
}
#main-navigation .navbar-inverse .navbar-nav>.active>a, #main-navigation .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ff6b6b;
    background: none;
}

#main-navigation .navbar-nav > li > a:hover{
    color: #f04d4d;
}
#account-dropdown .username {
    margin-right: 40px;
}
#account-dropdown img{
    margin-top: -10px;
}

.topic-meta a {
    color:#ff6b6b;
}


.topic-meta a:hover{
    color:#f65e5e;
}

.waterfall .item-heading a {
    font-size: 18px;

}

.panel {
    margin-bottom: 13px;
    border: 0;
}

#main-navigation .navbar-form input{
    background: #464646;
    border: 1px solid #ddd;
    font-size: 1em;
    height: 40px;
    line-height: 28px;
    padding: 0 12px;
    width: 160px;
    color: #999;
    border: 5px solid #2d2d2d;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: none;
    transition: width 0.7s ease 0s;
    -o-transition: width 0.7s ease 0s;
    -moz-transition: width 0.7s ease 0s;
    -webkit-transition: width 0.7s ease 0s;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    margin: -3px 0 -5px 0;
}

#sidebar .panel {
    box-shadow: 0px 1px 3px 0px #d5d5d5;
    border-radius: 2px;
    overflow: hidden;
}

#sidebar .panel-heading {
    color:#555;
    padding: 15px;
    border-bottom: 1px #eee solid;
    background-color: #fff;
}

#sidebar .panel-heading h3 {
    line-height: 1.8em;
    font-size: 13px;
}

#sidebar .panel-body {
    color:#555;
    padding: 15px;
    font-size: 13px;
}