body {
    color:#555;
}

h1.panel-title{
    font-weight: bold;
    font-size: 20px;
}
h2.s-title{
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.badge{
    background: #ff6b6b;
}

a.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
    background: #ff6b6b;
    color:#fff;
}

a {
    color:#000;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
}

.actions a{
    color:#999;
}
.popular-group-cat a {
    color:#999;
}

.home-actions .home-actions-item a{
    color: #666;
}

.popular-group-title a {
    color:#777;
}
.user-login-register-footer a {
    color:#fff;
}

.message-unread .panel-heading a {
    color:#428bca;
}
.message-send {
    font-size: 18px;
    padding-left:5px;
    margin-top:5px;
}

.message-send a {
    color:#ff6b6b;
}
.message-send a:hover {
    color:#ffc1c1;
}

a:hover, .home-actions .home-actions-item a:hover, .message-unread .panel-heading a:hover {
    color:#ff6b6b;
    text-decoration: none;
}

a:active {
    color:#000;
    text-decoration: none;
}

#logo{
    padding: 5px;
}
#logo img{
    height: 40px;
}

#main-navigation{

}

#main-navigation .navbar>.container{
    padding-right: 0;
}

#main-navigation .navbar>.container .navbar-collapse{
    padding-right: 5px;
}

#main-navigation .navbar{
    background-color: #2c3036;
    border-bottom: 5px solid #ddd;
    padding: 5px 0;
}

.page-user-login #main-navigation .navbar, .page-user-register #main-navigation .navbar {
    border-bottom: 0;
}

#main-navigation .navbar-nav{
    padding: 10px 0;
}

#main-navigation .navbar-nav > li > a {
    padding: 5px 15px;
    font-size: 14px;
    border-right: 1px #666 dashed;
}
#main-navigation .navbar-inverse .navbar-nav>.active>a, #main-navigation .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ff6b6b;
    background: none;
}


#main-navigation .navbar-nav > li > a:hover{
    color: #f04d4d;
}

#main-navigation .navbar .open .dropdown-menu > li > a:hover,
#main-navigation .navbar .open .dropdown-menu > li > a:focus,
#main-navigation .navbar .open .dropdown-menu > .active > a,
#main-navigation .navbar .open .dropdown-menu > .active > a:hover,
#main-navigation .navbar .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #d5d5d5 !important;
}

#account-dropdown .username {
    margin-right: 40px;
}

#account-dropdown img{
    margin-top: -10px;
}

.topic-meta a,.post-meta a, .group-meta a {
    color:#ff6b6b;
}


.topic-meta a:hover,.post-meta a:hover, .group-meta a:hover{
    color: #ffc1c1;
}

.waterfall .item-heading a {
    font-size: 18px;

}

.panel {
    margin-bottom: 13px;
    border: 0;
}

#main-navigation .navbar-form input{
    background: #464646;
    border: 1px solid #ddd;
    font-size: 1em;
    height: 38px;
    line-height: 20px;
    padding: 0 12px;
    width: 160px;
    color: #999;
    border: 5px solid #2d2d2d;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: none;
    transition: width 0.7s ease 0s;
    -o-transition: width 0.7s ease 0s;
    -moz-transition: width 0.7s ease 0s;
    -webkit-transition: width 0.7s ease 0s;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    margin: -3px 0 -5px 0;
}

.panel-default {
    box-shadow: 0px 1px 3px 0px #d5d5d5;
    border-radius: 2px;
    overflow: hidden;
}

.panel-default>.panel-heading {
    color:#555;
    padding: 15px;
    border-bottom: 1px #eee solid;
    background-color: #fff;
    height: 59px;
    font-size: 13px;
    padding-top:19px;
    font-weight: bold;
}


.panel-default>.panel-body {
    color:#555;
    padding: 15px;
    font-size: 13px;
    /*margin: -1px 0 -5px 0;*/
    margin: -1px 0 5px 0;
}

.panel-default>.panel-heading>.heading-actions{
    float: right;
}

#sidebar .panel-default>.panel-body {
    padding: 10px;
    font-size: 12px;
}


#category-bar {
    margin-bottom:20px;
}

.parent-category {
    width:100px;
}

.category-children-container {
    width:104px;
    float:left;
}
.category-children-container ul {
    padding-left:0;
}
.category-children-container li {
    list-style: none;
    height:22px;
}

#category-bar a{
    color:#555;
    transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
}

#category-bar a.parent-category {
    font-weight:bold;
}

#category-bar a.children-category {
    width: 100px;
}
#category-bar a:hover{
    color:#ff6b6b;
}

.panel-default>.panel-body>.row{
    margin-left: 0;
    margin-right: 0;
}

#content .panel-default>.panel-body>.row{
    margin-left: 0;
    margin-right: 0;
}

/* Pagination */
.pagination>li>a, .pagination>li>span{
    margin: 0 2px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    background-color: #efefef;
}

.pagination>.disabled>span, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #333;
    cursor: not-allowed;
    background-color: #efefef;
    border: none;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background: #ff6b6b;
    color: #fff;
    border: 0;
}

/* form */
.btn-primary{
    width: auto;
    color: #fff;
    font: normal normal 14px/1.8em 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    padding: 5px 20px;
    background: #ff6b6b;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px #d5d5d5;
    transition: .07s ease-in;
    -moz-transition: .07s ease-in;
    -webkit-transition: .07s ease-in;
    -o-transition: .07s ease-in;
    border: 0;
    border-radius: 2px;
}

.btn-primary:hover{
    background: #f65e5e;
    transition: .07s ease-in;
    -moz-transition: .07s ease-in;
    -webkit-transition: .07s ease-in;
    -o-transition: .07s ease-in;
}

#category-bar a.active {
    color:#f65e5e;
}

.badge-administrator {
    background-color: #428bca;
}

.badge-vip {
    background-color: #FFC200;
}

.badge-user-panel {
    float:left;
    padding-top:9px;
    padding-left:10px;
}

.popular-groups ul {
    padding: 0 5px 0 5px;
    margin-bottom:0;
}

.popular-groups li {
    list-style: none;
    padding-top:10px;
    height:80px;
}

.popular-group-picture img {
    width: 30%;
    height: 30%;
    float:left;
}

.popular-group-title {
    width:70%;
    float:left;
    padding-left:10px;
    font-weight:bold;
    font-size:14px;
}

.popular-group-cat {
    width:70%;
    float:left;
    padding-left:10px;
}

.user-profile .user-introduction{
    color:#808080;
    white-space: nowrap;
    line-height:14px;
    margin-bottom:8px;
}

.user-profile .user-info {
    color:#999;
}

.user-gender {
    margin-top:3px;
}

.user-gender-Male {
    width:13px;
    height:13px;
    background: url('../images/bg_line.png') 0 -5px;
    float:left;
}

.user-gender-Female {
    width:13px;
    height:13px;
    background: url('../images/bg_line.png') -24px -5px;
    float:left;
}

.user-gender-Unknown {
    width:13px;
    height:13px;
    background: url('../images/bg_line.png') -150px -5px;
    float:left;
}

span.spliter {
    font-size:10px;
    padding-left:5px;
    padding-right:5px;
    color:#ccc;
}

.user-info a {
    color:#f65e5e;
}

.user-info a:hover {
    color: #ffc1c1;
}

.user-home-navigation li.active{
    font-weight:bold;
}


.user-panel {
    padding: 10px 30px;
    margin-top:0;
    background: #fff;

}

.user-panel .user-picture{
    float: left;
    margin: 0 15px 0 10px;
}

.user-panel .user-profile{
    padding-top: 25px;
}

.index .user-panel .user-profile{
    padding-top: 0;
}

.user-panel .user-profile h2>a{
    color: #000;
    text-decoration: none;
}
.user-panel .user-profile h2>a:hover{
    opacity: 0.6;
}

.user-panel .user-statistics{
    float: right;
    margin: 30px 10px 0 0;
    padding: 10px 0;
    border: 1px #eee solid;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.8);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.8);
    box-shadow: 0 1px 1px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.8);
}

.index .user-panel .user-statistics{
    float: right;
    margin: 0;
    padding: 10px 0;
}

.index .user-profile h2 {
    font-size:28px;
}

.user-info {
    padding-left:145px;
}

.user-introduction {
    padding-left:145px;
}

.index .user-info {
    padding-left:105px;
}

.index .user-introduction {
    padding-left:105px;
}

.user-panel .user-statistics .stat-item{
    float: left;
    padding: 0 15px 0 14px;
    text-align: center;
    border-right: 1px #eee solid;
    width: 70px;
    margin-right: -1px;
}
.user-panel .user-statistics .stat-item .number{
    font-size: 20px;
    font-weight: bold;
}
.user-panel .user-statistics .stat-item .text
{
    color: #999;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.site-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    width:100%;
    height:100%;
}

.user-login-register-panel {
    width: 350px;
    float:right;
}

.user-login-register-footer {
    color: white;
    font-weight:bold;
}

.page-user-login #content, .page-user-register #content {
    /*min-height: 470px;*/
    padding-top:30px;
}

.page-user-login #footer, .page-user-register #footer {
    position:absolute;
    bottom: 0;
}

.user-login-register-panel .panel-body {
    margin-left: 5px;
    margin-right: 10px;
}

.page-user-view .waterfall .item {
    border: 1px solid #ececec;
}

.message-container .panel-info {
    border: 1px solid #ececec;
}
.message-container .panel-heading {
    background-color: #eee;
}
.message-unread .panel-heading {
    background-color: #d9edf7;
}

.message-unread .panel-heading a.message-trash {
    color:#d9534f;
    margin-left:10px;
}

.message-unread .panel-heading a.message-trash:hover {
    color:#ff6b6b;
}

#back-top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 1499;
    _position: absolute;
    _top: expression(documentElement.scrollTop+body.scrollTop);
    _margin-top: 500px;
}

#back-top a, #back-top-prev a {
    width: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top span#button, #back-top-prev span#button-prev {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background-color: #ddd;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/up-arrow.png");
    opacity: 0.8;
    filter: alpha(opacity = 80);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top span#button:hover{
    opacity: 1;
    filter: alpha(opacity = 1);
    background-color: #777777;
}
#back-top span#link:hover {
    opacity: 1;
    filter: alpha(opacity = 1);
    color: #777777;
}

#back-top a, #back-top-prev a {
    text-align: center;
    font: 11px/100% Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color: #bbb;
}