/* find user */
.find-user .panel-body{
    padding-top:0;
}

.find-user .search-bar {
    margin-bottom: 10px;
}
body.user-home #main-wrapper{
    padding-top: 0;
}
body.user-home .content-wrapper{
    border-left: 1px #eee solid;
}

.user-home .user-panel {
    padding: 10px 20px;
    margin-top:0;
    background: #fff;

}

.user-home .user-panel .user-picture{
    float: left;
    margin: 0 15px 0 10px;
}

.user-home .user-panel .user-profile{
    padding-top: 25px;
}

.user-home .user-panel .user-profile h2>a{
    color: #000;
    text-decoration: none;
}
.user-home .user-panel .user-profile h2>a:hover{
    opacity: 0.6;
}

.user-home .user-panel .user-statistics{
    float: right;
    margin: 30px 50px 0 0;
    padding: 10px 0;
    border: 1px #eee solid;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.8);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.8);
    box-shadow: 0 1px 1px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.8);
}

.user-home .user-panel .user-statistics .stat-item{
    float: left;
    padding: 0 15px 0 14px;
    text-align: center;
    border-right: 1px #eee solid;
    width: 70px;
    margin-right: -1px;
}
.user-home .user-panel .user-statistics .stat-item .number{
    font-size: 16px;
    font-weight: bold;
}
.user-home .user-panel .user-statistics .stat-item .text
{
    color: #999;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* User home page navigation */
.user-home-navigation{

}

.user-home-navigation .nav-pills{

}
.user-home-navigation .nav-pills>li.active>a,
.user-home-navigation .nav-pills>li.active>a:hover,
.user-home-navigation .nav-pills>li.active>a:focus {
    color: #f04d4d;
    background-color: #e5e5e5;
}

.user-home-navigation .nav-pills>li .badge{
    float: right;
}