<FilesMatch "^(R|Rays)\.php$|\.(module)$|(Controller|\.view)\.php$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
   deny from all
</FilesMatch>

<Files ~ "Config.php|^Rays\w+\.php$">
    deny from all
</Files>